/**
 *  @file _sidebar_left.sass
 *  @category 10_layout
 *  @theme LOCAL
 *  @description Structures the left sidebars. **/


#primary-content
  aside.left
    padding: rv($mobile_edge_padding_factor)
    +font-size(-1)

    +bp($desktop)
      padding: rv($edge_padding_factor)

    div, p, ul, li, label
      color: inherit
      font-size: inherit

      > span
        font-size: inherit
