/**
 *  @file _sidebar_left.sass
 *  @category 10_layout
 *  @theme LOCAL
 *  @description Structures the left sidebars. **/


#primary-content
  aside.left
    font-size: clamped(-2,-1)

    div, p, ul, li, label
      color: inherit
      font-size: inherit

      > span
        font-size: inherit
