/**
 * @file
 * Supporting Drupal’s contexual menus.
 * Drupal’s contextual menus get swept up in more general themes styles, causing havoc. This file is an attempt to mitigate this.
 */

.contextual
  top: 6px !important
  right: 0 !important
  bottom: initial !important
  left: initial !important
  


