/** 
 *  @file _advanced_search.sass 
 *  @category 60_site_elements
 *  @theme LOCAL
 *  @description Styles for the Advanced Search page. */

#advanced-search
  color: $light_neutral
  +bp($tablet)
    padding: 0 rv(3)
  +bp($desktop)
    padding: unset

  .field
    margin-top: rv(2)
    margin-bottom: rv(1)

  .inputs
    background-color: $lightest_neutral
    border-top: 1px solid $clr1
    border-bottom: 1px solid $clr1
    padding: rv(-2)

  .field:not(#property-queries):not(#resource-class):not(#item-sets) > .inputs
    position: relative
    background-color: unset
    border-top: none
    border-bottom: none
    padding: 0

  .field:not(#property-queries):not(#resource-class):not(#item-sets) > .inputs::after
    content: url('../img/svg/icon/search-neutral.svg')
    width: 30px
    display: block
    position: absolute
    right: rv(-2)
    top: rv(-4)

  label,
  #by-value-label,
  #by-resource-class-label,
  #by-item-set-label
    color: $clr8
    font-weight: $bold

  #fulltext_search
    border-bottom: 1px solid $light_neutral
    width: 100%

  #fulltext_search::placeholder
    color: $light_neutral
    opacity: 1
    font-weight: $light

  #fulltext_search:hover,
  #fulltext_search:focus
    border-bottom: 5px solid $clr3

  .value
    flex-wrap: wrap
    row-gap: rv(-1)
    +bp($tablet)
      margin-bottom: rv(0)

  .value select,
  .value .query-text
    border: 1px solid $light_neutral
    flex-basis: 100%
    color: $light_neutral

  .value select:hover,
  .value select:focus,
  .value .query-text:hover,
  .value .query-text:focus
    border: 1px solid $clr3

  .value .query-text::placeholder
    opacity: 1

  .value select
    text-transform: uppercase
    cursor: pointer

  #property-queries .value .query-type,
  #property-queries .value .query-text
    margin-left: 0

  .remove-value
    margin: 0 auto rv(-1) auto
    color: $light_neutral
    padding-left: rv(-2)
    cursor: pointer
    border-bottom: 5px solid $light_neutral
    background-color: transparent

  .remove-value:hover,
  .remove-value:focus
    color: $clr3
    border-bottom: 5px solid $clr3

  .remove-value:hover::before,
  .remove-value:focus::before
    color: $clr3

  .remove-value::before
    left: calc(#{rv(-4)} * -1)
    position: relative

  .add-value
    display: inline-block
    position: relative
    left: 50%
    transform: translateX(-50%)
    margin-top: rv(-4)
    color: $light_neutral
    text-decoration: underline

  .add-value:hover,
  .add-value:focus
    color: $clr3
    border-bottom: none

  #page-actions input[type="submit"]
    padding: 0 rv(0)
    width: 100%
    text-transform: uppercase
    text-decoration: underline
    text-decoration-thickness: 5px
    font-size: font-value(0)
    +bp($tablet)
      width: unset
      margin-left: auto
      padding: 0 rv(4)
  
  #page-actions input[type="submit"]:hover,
  #page-actions input[type="submit"]:focus
    background-color: $clr1
    border: 5px solid $clr1

  .input-btn-container
    display: flex
    flex-basis: 100%
    flex-wrap: wrap
    row-gap: rv(-1)
    +bp($tablet)
      // display: flex
      column-gap: rv(0)
      flex-wrap: unset
      // flex-basis: 100%

