/** 
 *  @file _section_list.sass 
 *  @category 60_site_elements
 *  @description Styles section list items in main content */

.list-container-vertical
  margin-top: 0
  position: relative
  background-image: url(get_png_url('black/1x/graph-tight-bg-dark.png'))
  width: 100%
  overflow: hidden
  padding: rv(2) rv(4) rv(2) rv(4)
  z-index: 1
    
  .block-introduction
    color: $white
    text-transform: uppercase 
    p  
      border-bottom: 1px solid $white 
      margin: 0
      font-size: 1em

  .list-ornament
    position: absolute
    width: 300px
    right: -80px
    bottom: -100px
    z-index: 2
    transform: rotate(-35deg)
  
  .vertical-page-list
    .tab-ui
      border-bottom: none
      flex-direction: column
      .vertical-page-control
        line-height: 1.8
        list-style-type: none
        z-index: 3
        color: $white
        a
         color: $white
         font-size: rv(1)
         text-decoration: underline
  
    
    