// Social Media Icons

$fb_icon: no-repeat url(get_svg_url('icons/facebook-black'))
$insta_icon: no-repeat url(get_svg_url('icons/instagram-black'))
$twitter_icon: no-repeat url(get_svg_url('icons/twitter-black'))


// Overlay Menu Icons
$project_icon: no-repeat url(get_svg_url('icons/projects-transparent'))
$user_icon: no-repeat url(get_svg_url('icons/user-transparent'))
$admin_icon: no-repeat url(get_svg_url('icons/admin-transparent'))
$menu_icon: no-repeat url(get_svg_url('icons/menu-transparent'))


// Browser control icons

$card_icon: no-repeat url(get_svg_url('icons/grid-view-icon-default'))
$card_icon_active: no-repeat url(get_svg_url('icons/grid-view-icon-active'))
$masonry_icon: no-repeat url(get_svg_url('icons/masonry-view-icon-default'))
$masonry_icon_active: no-repeat url(get_svg_url('icons/masonry-view-icon-active'))
$grid_icon: no-repeat url(get_svg_url('icons/grid-view-icon-default'))
$grid_icon_active: no-repeat url(get_svg_url('icons/grid-view-icon-active'))
$list_icon: no-repeat url(get_svg_url('icons/list-view-icon-default'))
$list_icon_active: no-repeat url(get_svg_url('icons/list-view-icon-active'))
$filter_icon: no-repeat url(get_svg_url('icons/filter-icon-default'))
$filter_icon_active: no-repeat url(get_svg_url('icons/filter-icon-active'))
$filter_icon_reverse: no-repeat url(get_svg_url('icons/filter-icon-reverse'))

// Button Icons

$submit_arrow: no-repeat url(get_svg_url('icons/arrow-reversed'))
$submit_arrow_hover: no-repeat url(get_svg_url('icons/arrow-reversed'))
$search_icon: no-repeat url(get_svg_url('icons/search-default'))
$search_icon_hover: no-repeat url(get_svg_url('icons/search-default'))
$more_arrow: no-repeat url(get_svg_url('icons/arrow-default'))
$more_arrow_hover: no-repeat url(get_svg_url('icons/arrow-active'))
// Form Icons
$close_icon: no-repeat url(get_svg_url('icons/close-default'))
$close_icon_hover: no-repeat url(get_svg_url('icons/close-active'))

$clear_icon: $close_icon
$clear_icon_hover: $close_icon_hover

=background-icon-base($icon_name, $size: $btn_icon_size, $state: 'default', $active_state: 'active')
  padding-right: calc(#{$size} + #{$ui_padding}) !important
  background-image: url(get_svg_url('icons/#{$icon_name}-#{$state}'))
  background-size: $size
  background-position: right $ui_padding center
  background-repeat: no-repeat

  @if $active_state
    &:hover, &.active
      background-image: url(get_svg_url('icons/#{$icon_name}-#{$active_state}'))
      color: $impact // Assumes that the corresponding icon is coloured $impact
  @else
    &:hover, &.active
      filter: brightness(70)

=icon ($background: $black, $size: rv(0))
  display: block
  background: $background
  height: $size
  width: $size

// Icon Mixins

=card-view-icon($size: $ui_display_controls_icon_size)
  +background-icon($card_icon,$size)

  &:hover, &.active
    +background-icon($card_icon_active,$size)

=masonry-view-icon($size: $ui_display_controls_icon_size)
  +background-icon($masonry_icon,$size)

  &:hover, &.active
    +background-icon($masonry_icon_active,$size)

=grid-view-icon($size: $ui_display_controls_icon_size)
  +background-icon($grid_icon,$size)

  &:hover, &.active
    +background-icon($grid_icon,$size)


=list-view-icon($size: $ui_display_controls_icon_size)
  +background-icon($list_icon,$size)

  &:hover, &.active
    +background-icon($list_icon_active,$size)

=filter-icon-reverse($size: $ui_display_controls_icon_size)
  +background-icon($filter_icon_reverse,$size)

  &:hover, &.active
    +background-icon($filter_icon,$size)


=clear-icon
  +background-icon($clear_icon)

  &:hover
    +background-icon($clear_icon)

=close-icon-hover
  +form-close($close_icon)

=facebook-icon
  +icon($fb_icon)

=instagram-icon
  +icon($insta_icon)

=twitter-icon
  +icon($twitter_icon)

=submit-arrow
  +background-icon($submit_arrow)

=submit-arrow-hover
  +background-icon($submit_arrow_hover)

=search-icon($size: $btn_icon_size)
  +background-icon($search_icon, $size)

=search-icon-hover
  +background-icon($search_icon_hover)

=more-arrow
  +arrow-rotate($more_arrow)
  background-position: right $ui_padding center
  background-size: $btn_icon_size

  > *
    transform: translateX(calc(#{$ui_padding * -0.5} + #{($btn_icon_size * 0.5)}))


=background-icon ($background: $black, $size: $btn_icon_size)
  background: $background
  background-position: right $ui_padding center
  background-size: $size

// Alias for backwards compatibility
=button-icon($background: $black, $size: $btn_icon_size)
  +background-icon($background,$size)

=arrow-rotate ($background: $black, $size: $btn_icon_size)
  background: $background
  background-position: right $ui_padding center
  background-size: $size

=form-close($background: $black)
  &:hover
    background: $background
    display: inline-block
    width: 20px
    height: 20px
    margin-left: 10px
