/**
 *  @file _header.sass 
 *  @category 10_layout
 *  @theme LOCAL
 *  @description Defines page header and navigation areas. */

$nav_icons_height: 30px
$header_search_tablet_bp: 780px
$header_search_height: 50px

@mixin nav-items-before-el($icon-url, $top-position, $left-position, $width)
  content: $icon-url
  position: absolute
  height: auto
  width: $width
  top: $top-position
  left: $left-position
  opacity: 0
  +transition(all, -6)

@mixin menu-background()
  background-color: $clr1
  background-image: url('../img/svg/transparent/graph-chaos-bg-transparent.svg'),  url('../img/svg/ornaments/sub-menu-circles-ornament.svg')
  background-repeat: no-repeat, no-repeat
  background-position: center, right bottom
  background-size: 300%, 25%
  background-blend-mode: multiply, normal

body
  padding-top: calc(#{$masthead_height} + #{$masthead_clearance_mobile}) // Creates a top and bottom margin
  
  @media screen and ( min-width: $main_menu_tablet_breakpoint)
    padding-top: calc(#{$masthead_height} + #{$masthead_clearance})

  #user-bar
    position: fixed
    z-index: 999
    width: 100%
    top: 0
    left: 0

  > header
    display: block
    background: white
    position: fixed
    width: 100%
    top: 0
    left: 0
    z-index: 20

    .desktop-nav,
    .navigation,
    .nav-icons
      display: flex
      align-items: center

    .nav-icons
      position: relative
    
    .desktop-nav
      justify-content: space-between
      position: relative
      padding: $masthead_clearance_mobile rv(-1) 0 rv(4)
      @media screen and ( min-width: $main_menu_tablet_breakpoint)
        padding: $masthead_clearance rv(1) 0 rv(5)
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        padding: $masthead_clearance rv(5) 0
    
    .desktop-nav::before
      @include nav-items-before-el(url('../img/svg/marks/portal_favicon.svg'), rv(0), rv(-1), 40px)
      z-index: 30
      opacity: 1
      @media screen and ( min-width: $main_menu_tablet_breakpoint)
        top: unset
        width: 60px
        left: rv(0)
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        opacity: 0
        +transition(all, -6)
    

    .desktop-nav ul
      padding: unset

    .navigation,
    .navigation li ul,
    .nav-icons
      list-style-type: none

    .navigation
      font-weight: $bold

    .navigation li
      padding-right: rv(0) 

    .navigation li:first-of-type
      text-transform: uppercase
      padding-right: 0
      @media screen and ( min-width: $main_menu_tablet_breakpoint )
        padding-right: rv(2)
    
    .navigation li:not(:first-of-type).active a
      border-bottom: solid 5px $clr3
    
    .navigation li:first-of-type a:hover
      border-bottom: none

    .navigation li ul
      display: none

    .navigation li a
      color: $clr1
      font-size: font-value(-1)
      @media screen and ( min-width: $main_menu_tablet_breakpoint )
        font-size: font-value(0)
        
    .navigation li a:hover,
    .navigation li a:focus
      border-bottom: solid 5px $clr3

    .navigation li,
    .nav-icon
      position: relative

    .desktop-nav > .navigation li:first-of-type::after
      display: none
      content: ' '
      position: absolute
      height: rv(-1)
      width: 2px
      background-color: $clr1
      right: rv(0)
      top: 2px
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        display: block

    .desktop-nav .sub-menu-container
      @include menu-background()
      display: none
      position: absolute
      width: 100%
      left: 0
      top: $masthead_height
      height: 0
      max-height: 0
      padding: 0 rv(5)
      margin: unset
      overflow-x: hidden
      overflow-y: scroll
      transition: height 0.5s ease-in-out, padding 0.5s
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        display: block

    .sub-menu-close-btn-container 
      position: relative
      color: white
    
    .sub-menu-close-btn-container div
      position: absolute
      right: calc(#{rv(4)} * -1)
      top: calc(#{rv(4)} * -1)
      display: flex
      align-items: center

    .sub-menu-close-btn-container div span
      vertical-align: sub
      padding-right: rv(0)

    .sub-menu-close-btn
      all: unset
      background: url('../img/svg/icon/close.svg') no-repeat center
      width: $nav_icons_height
      height: $nav_icons_height
      cursor: pointer

    .sub-menu
      position: relative
      height: auto
      margin-top: 0
      list-style-type: none

    .sub-menu a
      color: white
      font-size: font-value(1)
      text-transform: none
      text-decoration: underline
      display: block
      margin-bottom: rv(0)
      border-bottom: none

    .sub-menu a:hover,
    .sub-menu a:focus
      color: $clr3

    .navigation > li:not(:first-of-type)::after
      content: url('../img/svg/icon/left-arrow-reverse.svg')
      width: 20px
      position: absolute
      bottom: calc(#{rv(4)} * -1)
      transform: rotate(-90deg) translateY(-50%)
      left: 50%
      z-index: 30
      opacity: 0
      visibility: hidden
      transition: opacity 1.2s

    .sub-menu-title
      color: white
      display: inline-block
    
    .sub-menu-title h2
      border-bottom: solid 1px white
      text-transform: none
      line-height: 1.8
      margin-top: 0 
    
    .sub-menu-title h2
      color: white

    .sub-menu-title p
      font-size: font-value(-1)
      text-transform: uppercase

    .nav-icon img
      width: auto
      height: 20px
      @media screen and ( min-width: $main_menu_tablet_breakpoint)
        height: $nav_icons_height

    .nav-icon
      border-bottom: unset
      padding-left: rv(-1)
      @media screen and ( min-width: $main_menu_tablet_breakpoint)
        padding-left: rv(0)
    
    .nav-hamburger
      display: block
      padding-left: rv(-1)
      @media screen and ( min-width: $main_menu_tablet_breakpoint) 
        padding-left: rv(1)
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        display: none

    .nav-hamburger::before
      @include nav-items-before-el(url('../img/svg/icon/hexagon-bg.svg'), -8.5px, 9px, 38.5px)
      z-index: -1
      @media screen and ( min-width: $main_menu_tablet_breakpoint)
        top: -13px
        left: 22.5px
        width: 48.5px

    .nav-search::before
      @include nav-items-before-el(url('../img/svg/icon/hexagon-bg.svg'), -10px, 10px, 37px)
      z-index: -1
      @media screen and ( min-width: $main_menu_tablet_breakpoint)
        left: 16px
        top: -16px
        width: 47px

    .nav-user-login::before
      @include nav-items-before-el(url('../img/svg/icon/hexagon-bg.svg'), -10px, 4.5px, 38.5px)
      z-index: -1
      @media screen and ( min-width: $main_menu_tablet_breakpoint)
        top: -17px
        left: 8.5px
        width: 48.5px

    .nav-icon:hover::before,
    .nav-icon:focus::before,
    .desktop-nav:hover::before
      opacity: 1

    .navigation > li.show-down-arrow::after
      opacity: 1
      visibility: visible

    .desktop-nav .open-sub-menu
      height: auto
      padding: rv(5)
      max-height: calc( 100vh -  #{$masthead_height})

    .desktop-nav > .navigation > li:not(:first-of-type)
      display: none
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        display: block

    .mobile-menu
      @include menu-background()
      position: absolute
      top: 0
      left: 0
      width: 0
      height: 100vh
      z-index: 40
      padding: rv(-2) 0
      overflow-y: scroll
      overflow-x: hidden
      transition: width 0.5s ease-in-out, padding 0.5s
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        display: none

    .mobile-icons-container
      display: flex
      justify-content: space-between
      align-items: center
      padding: 0 0 rv(2) rv(3)
      @media screen and ( min-width: $main_menu_tablet_breakpoint )
        padding: 0 0 rv(2) rv(4)

    .mobile-icons-container > .navigation li:not(:first-of-type)
      display: none

    .mobile-icons-container > .navigation a
      color: white

    .mobile-icons-container > .navigation li:first-of-type
      position: relative
      font-size: font-value(-1)
      @media screen and ( min-width: $main_menu_tablet_breakpoint )
        font-size: font-value(0)

    .mobile-icons-container > .navigation li:first-of-type::before
      @include nav-items-before-el(url('../img/svg/marks/portal_favicon.svg'), 0, 0, 40px)
      top: calc(#{rv(-3)} * -1)
      left: calc(#{rv(3)} * -1)
      opacity: 1
      @media screen and ( min-width: $main_menu_tablet_breakpoint )
        top: calc(#{rv(0)} * -1)
        left: calc(#{rv(4)} * -1)
        width: 60px

    .mobile-icons-container .nav-icons
      align-items: unset

    .mobile-icons-container .nav-search
      content: url('../img/svg/icon/search-reverse.svg')
      display: none

    .mobile-icons-container .nav-user-login
      content: url('../img/svg/icon/user-login-reverse.svg')

    .nav-user-login
      display: none
      
    .mobile-icons-container .nav-hamburger
      content: url('../img/svg/icon/close.svg')

    .mobile-icons-container .nav-icon
      height: 20px
      width: auto
      position: relative
      @media screen and ( min-width: $main_menu_tablet_breakpoint )
        height: $nav_icons_height

    .mobile-navigation,
    .mobile-navigation > li:not(:first-of-type),
    .mobile-navigation li ul
      display: block

    .mobile-navigation li a,
    .mobile-navigation li ul li a
      padding: rv(-4) 0
      text-decoration: underline
      display: block

    .mobile-navigation li ul li a
      font-size: font-value(0)

    .mobile-navigation li ul
      margin: unset
      padding-left: rv(1)
      list-style-type: none

    .mobile-navigation
      margin: unset
      list-style-type: none

    .mobile-navigation li.active a,
    .mobile-navigation a:hover
      border-bottom: none

    .mobile-navigation a
      color: white
      text-transform: none
      font-size: font-value(1)

    .mobile-menu .sub-menu-title
      display: block
      border-bottom: solid 1px white
      margin-bottom: rv(-1)

    .mobile-menu.open-mobile-menu
      width: 100%
      padding: rv(-2) rv(-1)
      @media screen and ( min-width: $main_menu_tablet_breakpoint )
        padding: rv(-2) rv(1)
      
    .header-search
      display: none
      background-color: white
      @media screen and ( min-width: $header_search_tablet_bp )
        display: block
        width: 0
        overflow: hidden
        position: absolute
        right: rv(7)
        bottom: calc(#{rv(-3)} * -1)
        transition: width 0.5s ease-in-out
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        right: 0
        bottom: calc((#{$header_search_height} + #{rv(-1)}) * -1)

    .header-search.open-header-search
      width: 270px
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        width: 200px
      @media screen and ( min-width: 1216px)
        width: 270px

    .mobile-search
      background-color: white
      display: block
      width: 0
      height: 0
      overflow: hidden
      transition: width 0.5s ease-in-out, padding 0.5s
      @media screen and ( min-width: $header_search_tablet_bp )
        display: none

    .mobile-search.open-mobile-search
      padding: 0 rv(-1) rv(-1)
      width: 100%
      height: auto
      +bp($tablet)
        padding: 0 rv(1) rv(-1)

    .mobile-search.open-mobile-search #search-form,
    .mobile-search.open-mobile-search input[type="text"]
      max-width: 100%

.has-admin-bar

  padding-top: calc(#{$masthead_height} + #{$masthead_clearance_mobile} + #{$admin_bar_height}) // Creates a top and bottom margin
  
  @media screen and ( min-width: $main_menu_tablet_breakpoint)
    padding-top: calc(#{$masthead_height} + #{$masthead_clearance} + #{$admin_bar_height})

  > header
    position: fixed
    width: 100%
    left: 0
    top: $admin_bar_height_two_lines
    @media screen and ( min-width: 566px )
      top: $admin_bar_height

    .desktop-nav .open-sub-menu
      height: auto
      max-height: calc(100vh - #{$masthead_height} - #{$admin_bar_height} + #{$masthead_clearance})
      opacity: 1
      padding: rv(5)

    .mobile-menu
      height: calc(100vh - #{$admin_bar_height_two_lines})
      @media screen and ( min-width: 566px )
        height: calc(100vh - #{$admin_bar_height})

    .header-search
      right: rv(8)
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        right: 0
        bottom: calc((#{$header_search_height} + #{rv(-1)}) * -1)

    .header-search.open-header-search
      width: 240px
      @media screen and ( min-width: $main_menu_desktop_breakpoint)
        width: 270px


    
